<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>App</title>
    <link href="/assets/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/okta-theme.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/hljs/tomorrow.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/semantic-ui/semantic.min.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/samples.css" type="text/css" rel="stylesheet"/>
    <base href="/"/>
  </head>
  <body id="samples">
    <div class="ui inverted left fixed vertical menu">
      <a id="item-overview" class="item" href="/">Overview</a>
      <div id="section-authorization-code" class="item">
        <div class="header">Authorization Code</div>
        <div class="menu">
          <a id="item-login-redirect" data-se="auth-code-login-redirect" class="item" href="/authorization-code/login-redirect">
            Login by redirecting to Okta
          </a>
          <a id="item-login-custom" data-se="auth-code-login-custom" class="item" href="/authorization-code/login-custom">
            Create a custom login page
          </a>
        </div>
      </div>
    </div>

    <div id="content" class="ui padded grid relaxed">
        <div id="doc" class="column eight wide"><div class="doc-login-redirect">
  <h2 class="ui dividing header">
    Login by redirecting to Okta
    <div class="sub header">Authorization code grant</div>
  </h2>

  <p>
    If you don't need a custom login page, you can redirect directly to Okta to
    get your users logged in using OpenId Connect (OIDC)</br>
    To redirect from your app to Okta and authenticate users, you can use one of the middleware libraries listed below</p>

  <p>
  
    To configure your sample app against a specific backend, use the following references
  </p>
  <table class="ui table compact collapsing">
    <thead>
      <tr>
        <th>Backend</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Express-4 NodeJS</td>
        <td><a href="https://github.com/okta/okta-oidc-js/tree/master/packages/oidc-middleware">ExpressOIDC API</a></td>
      </tr>
      <tr>
        <td>Spring MVC Java</td>
        <td><a href="https://github.com/okta/okta-spring-security">Okta Spring Security</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
        <div class="column seven wide sample-col right floated">
          <div class="ui orange labels">
            <div class="ui label" data-tooltip="Backend" data-inverted="" data-position="bottom center">
              {{#config.server.environment}}
                {{#config.server.framework}}
                  {{config.server.framework}}
                  <div class="detail">{{config.server.environment}}</div>
                {{/config.server.framework}}
                {{^config.server.framework}}
                  {{config.server.environment}}
                {{/config.server.framework}}
              {{/config.server.environment}}
              {{^config.server.environment}}
                Express <div class="detail">NodeJS</div>
              {{/config.server.environment}}
            </div>
            <div class="ui label" data-tooltip="Frontend" data-inverted="" data-position="bottom center">
              <span id="frontend-framework">
                <span data-se="js-loading" class="ui active inline loader mini inverted"></span>
              </span>
              <div class="detail" id="frontend-environment"></div>
            </div>
          </div>
          <div id="app-container">
            <div id="default-app-text">&lbrace;&lbrace; Samples render here &rbrace;&rbrace;</div>
          </div>
        </div>
    </div>

    {{#config.server.useWebpackDevServer}}
    <script src="/webpack-dev-server.js"></script>
    {{/config.server.useWebpackDevServer}}

    <script src="/assets/bundle.js"></script>
    <script src="/assets/doc.js"></script>
    <script>
     var options = {
       container: '#app-container',
       oktaUrl: '{{{config.oidc.oktaUrl}}}',
       issuer: '{{{config.oidc.issuer}}}',
       clientId: '{{config.oidc.clientId}}',
       redirectUri: '{{{config.oidc.redirectUri}}}'
     };

     doc.initDoc();
     bundle.bootstrap(options);
    </script>
  </body>
</html>
